.contact-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
    margin-left: 500px;
    margin-top: 100px;
}

.contact-container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    margin-bottom: 8px;
    font-size: 1rem;
    color: #666;
}

.contact-form input {
    margin-bottom: 16px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 5px;
}
